<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png{{ site.faviconver }}">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png{{ site.faviconver }}">
<link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png{{ site.faviconver }}">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest{{ site.faviconver }}">
<link rel="mask-icon" href="/safari-pinned-tab.svg{{ site.faviconver }}" color="#9d6039">
<link rel="shortcut icon" href="/favicon.ico{{ site.faviconver }}">
<meta name="apple-mobile-web-app-title" content="Prose and Prosody">
<meta name="application-name" content="Prose and Prosody">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png{{ site.faviconver }}">
<meta name="theme-color" content="#ffffff">
