    <header role="banner">
      <a href="{{ "/" | relative_url }}"><h1>{{ site.title | escape }}</h1></a>
      <p>{{ site.description }}</p>
      <hr>
      {% assign default_paths = site.pages | map: "path" %}
      {% assign page_paths = site.header_pages | default: default_paths %}
      {% if page_paths %}
      <nav>
	<ul>
	  {% for path in page_paths %}
	  {% assign this_page = site.pages | where: "path", path | first %}
	  {% unless this_page.efn %}
	  {% if this_page.title %}
	  <a href="{{ this_page.url | relative_url }}">
	  <li>{{ this_page.title | default: "UNNAMED PAGE"  }}
	  </li>
	  </a>
	  {% endif %}
	  {% endunless %} 
	  {% endfor %}
	</ul>
      </nav>
      {% endif %}
    </header>
    
