---
---


$font-header:       'Merienda', cursive;
$font-body:         'Source Sans Pro', sans-serif;
$color-frame:       #DBDBDB;
$color-main-normal: #795548;
$color-main-light:  #D7CCC8;
$color-main-dark:   #5D4037;
$color-bg:          #FFFFFF;
$color-accent:      #9E9E9E;
$color-text-normal: #212121;
$color-text-alt:    #757575;
$color-divider:     #BDBDBD;

body {
    background-color: $color-bg;
}

h1 {
    font-family: $font-header;
    color: $color-text-normal;
}


			
